body {
    background: rgb(218, 219, 163);
}
.fondo{ 
    background-image: url(/img/imagen2.jpg);
    height: 100vh;
    background-size: cover;
}
.fondo1{ 
    background-color: rgb(184, 243, 243);
    height: 100vh;
    background-size: cover;
}

.fondo2{ 
    background-color: azure;
    height: 200vh;
    background-size: cover;
}

.fondo3{ 
    background-color: rgb(178, 245, 193);
    height: 150vh;
    background-size: cover;
}

.titular {
    text-align: center;
    margin-top: 200px;
}
#blog {
    background: #f9fafc;
    
}
.contenedor {
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
}
.publicaciones {
    width: 30%;
    box-shadow: 16px 12px 14px rgb(150, 149, 149);
    padding-bottom: 20px;
}
#blog img {
    width: 100%;
}
#blog h4 {
    font-size: 23px;
    margin: 0;
    padding: 20px;
}
#blog p {
    color: #5a6169;
    line-height: 24px;
    font-size: 16px;
    padding: 10px 20px 20px 20px;
    margin: 0;
}
#blog a {
    display: inline-block;
    margin-left: 20px;
}
.imagen img {
    width: 60%;
    height: 100%;
    display: block;
    padding-bottom: 0px;
    margin: auto;
    border-radius: 50%;
    border:4px solid rgb(106, 182, 245);
    
}

.pie{ 
   
    height: 10vh;
    
}
h3 {
    text-align: center;
    margin: 60px 0 60px 0;
    
}
.sep {
    padding-bottom: 30px;
}
.imagen1{
    display: block;
    margin: auto;
}
.parrafo {
    text-align: center;
}